@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,regular,500,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 83.125rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  z-index: 4;
  border: 1px solid rgba(168, 243, 83, 0.7);
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  max-width: 200px;
  color: #ffffff;
  text-align: center;
  padding: 0.625rem 1.25rem;
  background-color: rgba(168, 243, 83, 0.336);
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.no-webp .information-page{
  background: url("../img/bc2.jpeg") 0 0/cover no-repeat; }

.information-page {
  z-index: 1;
  position: relative;
  height: 100vh;
}

.information-page::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(64, 64, 63, 0.456);
}

.information-page__container {
  text-align: center;
  z-index: 3;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.information-page__title {
  z-index: 3;
  font-weight: 700;
  line-height: 1.3;
  /* identical to box height */
  color: #ffffff;
}

.information-page__abput {
  z-index: 3;
  font-weight: 700;
  line-height: 1.2;
  /* identical to box height */
  letter-spacing: 0.02em;
  /* Akzent yellow */
  color: #F3C653;
}

.information__image {
  position: fixed;
  bottom: 3%;
  left: 2%;
  z-index: 3;
  width: 60px;
  padding: 10px;
  background-color: #000;
  border-radius: 50%;
}

.information__image img {
  max-width: 100%;
}

.cute-page__items {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.cute-page__image {
  margin: 0 auto;
  width: 9.375rem;
}

.cute-page__image img {
  max-width: 100%;
}

.cute-page__text {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #060606;
}

.subparagraphs-page__text {
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
  color: #7A7A7A;
  max-width: 900px;
  margin: 0 auto;
}

.subparagraphs-page__items {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subparagraphs-page__item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subparagraphs-page__item {
  max-width: 40.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subparagraphs-page__button {
  text-align: center;
  background: #000000;
  border: 2px solid #FFFFFF;
  border-radius: 25px;
  padding: 0.625rem 1.25rem;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #F3C653;
}

.subparagraphs-page__title {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #000000;
}

.subparagraphs-page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subparagraphs-page__subtitle {
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.02em;
  color: #000000;
}

@media (min-width: 83.125em) {
  .header__container {
    padding-top: 2.5rem;
  }

  .header__container {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .page__information {
    margin-bottom: 6.25rem;
  }

  .information-page__title {
    font-size: 4.6875rem;
  }

  .information-page__title {
    margin-bottom: 2.1875rem;
  }

  .information-page__abput {
    font-size: 1rem;
  }

  .cute-page {
    padding-bottom: 6.25rem;
  }

  .cute-page__items {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .cute-page__items {
    row-gap: 3.125rem;
  }

  .cute-page__image {
    margin-bottom: 1.25rem;
  }

  .subparagraphs-page {
    padding-bottom: 3.125rem;
  }

  .subparagraphs-page__text {
    font-size: 1.5625rem;
  }

  .subparagraphs-page__text {
    padding-bottom: 3.125rem;
  }

  .subparagraphs-page__items {
    -webkit-column-gap: 6.25rem;
       -moz-column-gap: 6.25rem;
            column-gap: 6.25rem;
  }

  .subparagraphs-page__items {
    row-gap: 3.125rem;
  }

  .subparagraphs-page__item1 {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .subparagraphs-page__item1 {
    row-gap: 1.875rem;
  }

  .subparagraphs-page__title {
    font-size: 1.6875rem;
  }

  .subparagraphs-page__title {
    padding-bottom: 1.875rem;
  }

  .subparagraphs-page__wrapper {
    row-gap: 3.125rem;
  }

  .subparagraphs-page__subtitle {
    font-size: 1.25rem;
  }
}

@media (max-width: 20em) {
  .header__container {
    padding-top: 1.875rem;
  }

  .header__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .page__information {
    margin-bottom: 2.5rem;
  }

  .information-page__title {
    font-size: 2.1875rem;
  }

  .information-page__title {
    margin-bottom: 1.5625rem;
  }

  .information-page__abput {
    font-size: 0.6875rem;
  }

  .cute-page {
    padding-bottom: 2.5rem;
  }

  .cute-page__items {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .cute-page__items {
    row-gap: 1.25rem;
  }

  .cute-page__image {
    margin-bottom: 0.625rem;
  }

  .subparagraphs-page {
    padding-bottom: 1.875rem;
  }

  .subparagraphs-page__text {
    font-size: 1.25rem;
  }

  .subparagraphs-page__text {
    padding-bottom: 1.875rem;
  }

  .subparagraphs-page__items {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .subparagraphs-page__items {
    row-gap: 1.25rem;
  }

  .subparagraphs-page__item1 {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .subparagraphs-page__item1 {
    row-gap: 0.9375rem;
  }

  .subparagraphs-page__title {
    font-size: 1.3125rem;
  }

  .subparagraphs-page__title {
    padding-bottom: 1.25rem;
  }

  .subparagraphs-page__wrapper {
    row-gap: 1.25rem;
  }

  .subparagraphs-page__subtitle {
    font-size: 1.0625rem;
  }
}

@media (max-width: 53.5rem) {
  .cute-page__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 40.625rem) {
  .subparagraphs-page__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 37.9375rem) {
  .cute-page__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 20em) and (max-width: 83.125em) {
@supports (padding-top: clamp( 1.875rem , 1.676980198rem  +  0.9900990099vw , 2.5rem )) {
    .header__container {
      padding-top: clamp( 1.875rem , 1.676980198rem  +  0.9900990099vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.676980198rem  +  0.9900990099vw , 2.5rem )) {
    .header__container {
      padding-top: calc(1.875rem + 0.625 * (100vw - 20rem) / 63.125);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.853960396rem  +  1.9801980198vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.853960396rem  +  1.9801980198vw , 2.5rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 1.25rem , 0.853960396rem  +  1.9801980198vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , 0.853960396rem  +  1.9801980198vw , 2.5rem );
              column-gap: clamp( 1.25rem , 0.853960396rem  +  1.9801980198vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.853960396rem  +  1.9801980198vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.853960396rem  +  1.9801980198vw , 2.5rem ))) {
    .header__container {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 63.125);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 63.125);
              column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 63.125);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem )) {
    .page__information {
      margin-bottom: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem )) {
    .page__information {
      margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.3954207921rem  +  3.9603960396vw , 4.6875rem )) {
    .information-page__title {
      font-size: clamp( 2.1875rem , 1.3954207921rem  +  3.9603960396vw , 4.6875rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.3954207921rem  +  3.9603960396vw , 4.6875rem )) {
    .information-page__title {
      font-size: calc(2.1875rem + 2.5 * (100vw - 20rem) / 63.125);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.364480198rem  +  0.9900990099vw , 2.1875rem )) {
    .information-page__title {
      margin-bottom: clamp( 1.5625rem , 1.364480198rem  +  0.9900990099vw , 2.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.364480198rem  +  0.9900990099vw , 2.1875rem )) {
    .information-page__title {
      margin-bottom: calc(1.5625rem + 0.625 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 0.6875rem , 0.588490099rem  +  0.495049505vw , 1rem )) {
    .information-page__abput {
      font-size: clamp( 0.6875rem , 0.588490099rem  +  0.495049505vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.6875rem , 0.588490099rem  +  0.495049505vw , 1rem )) {
    .information-page__abput {
      font-size: calc(0.6875rem + 0.3125 * (100vw - 20rem) / 63.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem )) {
    .cute-page {
      padding-bottom: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem )) {
    .cute-page {
      padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 63.125);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem ))) {
    .cute-page__items {
      -webkit-column-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem );
         -moz-column-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem );
              column-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem )) or (column-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem ))) {
    .cute-page__items {
      -webkit-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 63.125);
         -moz-column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 63.125);
              column-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 63.125);
    }
}

@supports (row-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem )) {
    .cute-page__items {
      row-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem )) {
    .cute-page__items {
      row-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 63.125);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.426980198rem  +  0.9900990099vw , 1.25rem )) {
    .cute-page__image {
      margin-bottom: clamp( 0.625rem , 0.426980198rem  +  0.9900990099vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.426980198rem  +  0.9900990099vw , 1.25rem )) {
    .cute-page__image {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 63.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3.125rem )) {
    .subparagraphs-page {
      padding-bottom: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3.125rem )) {
    .subparagraphs-page {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1.25rem , 1.150990099rem  +  0.495049505vw , 1.5625rem )) {
    .subparagraphs-page__text {
      font-size: clamp( 1.25rem , 1.150990099rem  +  0.495049505vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.150990099rem  +  0.495049505vw , 1.5625rem )) {
    .subparagraphs-page__text {
      font-size: calc(1.25rem + 0.3125 * (100vw - 20rem) / 63.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3.125rem )) {
    .subparagraphs-page__text {
      padding-bottom: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3.125rem )) {
    .subparagraphs-page__text {
      padding-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 63.125);
    }
}

@supports ((-moz-column-gap: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem )) or (column-gap: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem ))) {
    .subparagraphs-page__items {
      -webkit-column-gap: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem );
         -moz-column-gap: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem );
              column-gap: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem )) or (column-gap: clamp( 2.5rem , 1.3118811881rem  +  5.9405940594vw , 6.25rem ))) {
    .subparagraphs-page__items {
      -webkit-column-gap: calc(2.5rem + 3.75 * (100vw - 20rem) / 63.125);
         -moz-column-gap: calc(2.5rem + 3.75 * (100vw - 20rem) / 63.125);
              column-gap: calc(2.5rem + 3.75 * (100vw - 20rem) / 63.125);
    }
}

@supports (row-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem )) {
    .subparagraphs-page__items {
      row-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem )) {
    .subparagraphs-page__items {
      row-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 63.125);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.853960396rem  +  1.9801980198vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.853960396rem  +  1.9801980198vw , 2.5rem ))) {
    .subparagraphs-page__item1 {
      -webkit-column-gap: clamp( 1.25rem , 0.853960396rem  +  1.9801980198vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , 0.853960396rem  +  1.9801980198vw , 2.5rem );
              column-gap: clamp( 1.25rem , 0.853960396rem  +  1.9801980198vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.853960396rem  +  1.9801980198vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.853960396rem  +  1.9801980198vw , 2.5rem ))) {
    .subparagraphs-page__item1 {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 63.125);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 63.125);
              column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 63.125);
    }
}

@supports (row-gap: clamp( 0.9375rem , 0.640470297rem  +  1.4851485149vw , 1.875rem )) {
    .subparagraphs-page__item1 {
      row-gap: clamp( 0.9375rem , 0.640470297rem  +  1.4851485149vw , 1.875rem );
    }
}

@supports not (row-gap: clamp( 0.9375rem , 0.640470297rem  +  1.4851485149vw , 1.875rem )) {
    .subparagraphs-page__item1 {
      row-gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1.3125rem , 1.1936881188rem  +  0.5940594059vw , 1.6875rem )) {
    .subparagraphs-page__title {
      font-size: clamp( 1.3125rem , 1.1936881188rem  +  0.5940594059vw , 1.6875rem );
    }
}

@supports not (font-size: clamp( 1.3125rem , 1.1936881188rem  +  0.5940594059vw , 1.6875rem )) {
    .subparagraphs-page__title {
      font-size: calc(1.3125rem + 0.375 * (100vw - 20rem) / 63.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.051980198rem  +  0.9900990099vw , 1.875rem )) {
    .subparagraphs-page__title {
      padding-bottom: clamp( 1.25rem , 1.051980198rem  +  0.9900990099vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.051980198rem  +  0.9900990099vw , 1.875rem )) {
    .subparagraphs-page__title {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 63.125);
    }
}

@supports (row-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem )) {
    .subparagraphs-page__wrapper {
      row-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , 0.6559405941rem  +  2.9702970297vw , 3.125rem )) {
    .subparagraphs-page__wrapper {
      row-gap: calc(1.25rem + 1.875 * (100vw - 20rem) / 63.125);
    }
}

@supports (font-size: clamp( 1.0625rem , 1.0030940594rem  +  0.297029703vw , 1.25rem )) {
    .subparagraphs-page__subtitle {
      font-size: clamp( 1.0625rem , 1.0030940594rem  +  0.297029703vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1.0625rem , 1.0030940594rem  +  0.297029703vw , 1.25rem )) {
    .subparagraphs-page__subtitle {
      font-size: calc(1.0625rem + 0.1875 * (100vw - 20rem) / 63.125);
    }
}
}

.webp .information-page{ background: url(../img/bc2.webp) 0 0/cover no-repeat; }